body{
    background-color: gray;
}
a{
    color: red;
}
#login{
    text-align: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#homeAnchors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}