<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>

<a href="/adminAdd">Add Page</a>

<h1>Tickets</h1>
<div th:each="ticket : ${tickets}">
    <ul>
    <p><li th:text="${ticket.id}"></li></p>
    <li th:text="${ticket.date}"></li>
    <li th:text="${ticket.dateOrdered}"></li>
    <li th:text="${ticket.dateScheduled}"></li>
    <li th:text="${ticket.phoneNum}"></li>
    <li th:text="${ticket.ticketNum}"></li>
    <li th:text="${ticket.type}"></li>
    <li th:text="${ticket.business}"></li>
    <li th:text="${ticket.location}"></li>
    <li th:text="${ticket.user}"></li>
    </ul>
    <br>
</div>
<hr>
<h1>Business</h1>
<div th:each="business : ${businesses}">
    <ul>
    <li th:text="${business.id}"></li>
    <li th:text="${business.name}"></li>
    </ul>
    <br>
</div>
<hr>
<h1>Locations</h1>
<div th:each="location : ${locations}">
    <ul>
    <li th:text="${location.id}"></li>
    <li th:text="${location.name}"></li>
    <li th:text="${location.phone}"></li>
    <li th:text="${location.email}"></li>
    </ul>
    <br>
</div>
<hr>
<h1>Users</h1>
<div th:each="user : ${users}">
    <ul>
    <li th:text="${user.id}"></li>
    <li th:text="${user.username}"></li>
    <li th:text="${user.email}"></li>
    </ul>
    <br>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</body>
</html>