<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <div th:replace="partials :: links"></div>
</head>
<body>
<a th:href="@{/home}"><button class="btn btn-danger">Back to Home</button></a>
<!--ADD PAGE ANCHOR-->
<a th:href="@{/adminAdd}"><button class="btn btn-danger">Add More Page</button></a>
<!--SHOW ALL TICKETS-->
<a th:href="@{/tickets}"><button class="btn btn-warning">See All Tickets</button></a>
<!--SHOW ALL BUSINESSES-->
<h1>Business</h1>
<div th:each="business : ${businesses}">
    <p>Business ID = <span th:text="${business.id}"></span></p>
    <p>Business Name = <span th:text="${business.name}"></span></p>
    <br>
</div>
<hr>
<!--SHOW ALL LOCATIONS-->
<h1>Locations</h1>
<div th:each="location : ${locations}">
    <p>Location ID = <span th:text="${location.id}"></span></p>
    <p>Name = <span th:text="${location.name}"></span></p>
    <p>Phone = <span th:text="${location.phone}"></span></p>
    <p>Email = <span th:text="${location.email}"></span></p>
    <br>
</div>
<hr>
<!--SHOW ALL USERS-->
<h1>Users</h1>
<div th:each="user : ${users}">
    <p>User ID = <span th:text="${user.id}"></span></p>
    <p>Username = <span th:text="${user.username}"></span></p>
    <p>Email = <span th:text="${user.email}"></span></p>
    <br>
</div>
<!--SCRIPTS PARTIAL-->
<div th:replace="partials :: scripts"></div>
<!---->
</body>
</html>