<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Add Page</title>
    <div th:replace="partials :: links"></div>
</head>
<body>
<!---->
<h1>Add user</h1>
<form id="adminAddUser" method="post" th:action="@{/adminAddUser}">
    <p>Add admin access ?
        <input th:text="Yes" name="isAdmin" type="checkbox" value="true">
        <input th:text="No" name="isAdmin" type="checkbox" value="false">
    </p>
    <p>Username : <input name="username"></p>
    <p>Email : <input name="email"></p>
    <p>Password : <input name="pass"></p>
    <button class="btn btn-success" type="submit">Make New User</button>
</form>
<!---->
<h1>Add Business</h1>
<form id="adminAddBusiness" method="post" th:action="@{/adminAddBusiness}">
    <p>Business name : <input name="name"></p>
    <button class="btn btn-success" type="submit">Make New Business</button>
</form>
<!---->
<h1>Add Location</h1>
<form id="adminAddLocation" method="post" th:action="@{/adminAddLocation}">
    <p>Name : <input name="name"></p>
    <p>Email : <input name="email"></p>
    <p>Phone : <input name="phone"></p>
    <p>POC : <input name="poc"></p>
    <p>Street : <input name="street"></p>
    <p>City : <input name="city"></p>
    <p>State : <input name="state"></p>
    <p>Zip : <input name="zip"></p>
    <p>Select Business Name : </p>
    <div th:each="business : ${businesses}">
        <input type="checkbox" name="business" th:value="${business.id}" th:text="${business.name}">
    </div>
    <button class="btn btn-success" type="submit">Make New Location</button>
</form>
<!---->
<div th:replace="partials :: scripts"></div>
<!---->
</body>
</html>