<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biz Locations</title>
    <div th:replace="partials :: links"></div>
</head>
<body>
<!---->
<div th:replace="partials :: loggedNav"></div>
<!---->
<div th:each="location : ${locations}">
    <p>Location Name: <span th:text="${location.name}"></span></p>
    <p>Email: <span th:text="${location.email}"></span></p>
    <p>Phone: <span th:text="${location.phone}"></span></p>
    <p>POC: <span th:text="${location.poc}"></span></p>
    <p>Street: <span th:text="${location.street}"></span></p>
    <p>State: <span th:text="${location.state}"></span></p>
    <p>Zip: <span th:text="${location.zip}"></span></p>
    <hr>
</div>
<!---->
<a href="/contactList"><button class="btn btn-primary" type="button">Back to Contact List</button></a>
<!---->
<div th:replace="partials :: scripts"></div>
<!---->
</body>
</html>