<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <div th:replace="partials :: links"></div>
</head>
<body>
<!---->
<div th:replace="partials :: loggedNav"></div>
<!---->
<div>
    <p>Contact List</p>
</div>
<!---->
<form id="searchForm" th:action="@{/search}" method="post">
    <input id="searchInput" type="text" name="search" placeholder="Search by Business Name">
    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i> Search</button>
</form>
<!---->
<div>
    <h1 style="text-align: center" th:if="${businesses.size()} == 0" class="mb-5">No Results :(</h1>
    <div id="allBusinesses" class="row">
        <div class="col-lg-4 col-md-4 col-sm-12" th:each="business : ${businesses}">
            <div class="card mb-5">
                <div class="card-body">
                    <p th:text="${business.name}"></p>
                    <form th:action="@{/bizLocations/{id}(id=${business.id})}">
                        <button class="btn btn-primary" type="submit">See Locations</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!---->
<a th:href="@{/home}"><button class="btn btn-primary" type="button"></button></a>
<div th:replace="partials :: scripts"></div>
<!---->
</body>
</html>