<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <div th:replace="partials :: links"></div>
</head>
<body>
<!--NAV PARTIAL-->
<div th:replace="partials :: loggedNav"></div>
<!--NAVIGATION ANCHORS-->
<div id="homeAnchors">
    <a th:href="@{/timeSheet}"><button class="btn btn-primary">Time Sheet?</button></a>
    <br>
    <a th:href="@{/ticket1}"><button class="btn btn-success">Start Ticket</button></a>
    <br>
    <a th:href="@{/contactList}"><button class="btn btn-warning">Contact List</button></a>
    <br>
    <a th:href="@{/admin}"><button class="btn btn-danger">Admin Page</button></a>
</div>
<!--SCRIPTS PARTIAL-->
<div th:replace="partials :: scripts"></div>
<!---->
</body>
</html>