<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <div th:replace="partials :: links"></div>
</head>
<body>
<!---->
<div th:replace="partials :: loggedNav"></div>
<!---->
<div id="homeAnchors">
    <a href="#">Time Sheet?</a>
    <br>
    <a href="/ticket1">Start Ticket</a>
    <br>
    <a href="/contactList">Contact List</a>
    <br>
    <a href="/admin">Admin Page</a>
</div>
<!---->
<div th:replace="partials :: scripts"></div>
<!---->
</body>
</html>