<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <div th:replace="partials :: links"></div>
</head>
<body>
<!---->
<form th:action="@{/login}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <br>
    <div>
        <button class="btn btn-success" type="submit" value="Login">Login</button>
    </div>
</form>
<!---->
<div th:replace="partials :: scripts"></div>
<!---->
</body>
</html>