<div th:fragment="navBar">
    <div class="nav-background bg-light"></div>
    <div class="wrapper">
        <nav class="navbar navbar-light" id="notLoggedNav">
            <div class="container-fluid">
                <ul class="nav w-100 justify-content-center">
                    <li class="order-md-0 order-lg-0 mr-md-auto mr-lg-auto">
                        <a href="/" class="navbar-brand d-block w-100 mb-2 m-md-0 text-center">
                            <img src="/img/Streat-3.png" alt="StreatFoods Logo"/> </a>
                    </li>
                    <div class="w-100 d-md-none"></div>
                    <li class="nav-item order-md-1 order-lg-1 mt-md-5 pr-3">
                        <a class="nav-link aBackground text-uppercase px-md-3" href="/register">Register</a>
                    </li>
                    <li class="nav-item order-md-2 order-lg-2 mt-md-5 ">
                        <a class=" nav-link aBackground text-uppercase pl-md-3 pr-md-0 px-lg-3" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>