<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Employee</title>
    <div th:replace="partials :: links"></div>
</head>
<body>
<!--REGITER FORM-->
<div class="container-fluid">
    <div class="text-center mb-4">
        <h3>Register employee</h3>
    </div>
    <div id="registerForm">
        <form th:action="@{/register}" method="post" th:object="${user}">
            <label for="username">Username:</label>
            <input id="username" th:field="*{username}" required placeholder="username"/>
            <br>
            <label for="email">Email:</label>
            <input id="email" type="email" th:field="*{email}" required placeholder="email"/>
            <br>
            <label for="password">Password:</label>
            <input id="password" type="password" th:field="*{password}" required placeholder="password"/>
            <div id="registerBtn">
                <button id="submitButton" class="btn btn-success" value="Register" type="submit">Register</button>
            </div>
        </form>
    </div>
    <a id="alreadyMember" th:href="@{/login}">Back to login</a>
</div>
<!--SCRIPTS PARTIAL-->
<div th:replace="partials :: scripts"></div>
<!---->
</body>
</html>