<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
    <div th:replace="partials :: links"></div>
    <link rel="stylesheet" th:href="@{/ticketsTemplate.css}">
</head>
<body>
<a th:href="@{/admin}">
    <button class="btn btn-danger">Back to Admin Page</button>
</a>
<h1>Tickets</h1>
<hr>
<div th:each="ticket : ${tickets}" id="ticket">
    <div id="top">
        <div id="topLeft">
            <div>
                <p>Pike's Peak Performance<br> 922 Gardner Drive<br> Perry, GA 31069<br> (478)987-5547</p>
            </div>
        </div>
        <div id="topRight">
            <div id="rightTop">
                <h1>INVOICE</h1>
            </div>
            <div id="rightBottom">
                <table>
                    <tr>
                        <th>Service Date</th>
                        <th>Number</th>
                        <th>Due</th>
                    </tr>
                    <tr>
                        <td th:text="${ticket.date}"></td>
                        <td th:if="${ticket.ticketNum != null}" th:text="${ticket.ticketNum}"></td>
                        <td th:if="${ticket.ticketNum == null}" th:text="${NotAvail}"></td>
                        <td>??</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div id="middle">
        <table>
            <tr>
                <th>Customer</th>
                <th>Project/Job</th>
            </tr>
            <tr>
                <td>
                    <p>
                        <span th:text="${ticket.business.name}"></span>
                        <br>
                        <span th:text="${ticket.business.street}"></span>
                        <br>
                        <span th:text="${ticket.business.city}"></span>,
                        <span th:text="${ticket.business.state}"></span>
                        <span th:text="${ticket.business.zip}"></span>
                    </p>
                </td>
                <td>
                    <p>
                        <span th:text="${ticket.location.name}"></span>
                        <br>
                        <span th:text="${ticket.location.street}"></span>
                        <br>
                        <span th:text="${ticket.location.city}"></span>,
                        <span th:text="${ticket.location.state}"></span>
                        <span th:text="${ticket.location.zip}"></span>
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>


<!--SCRIPTS PARTIAL-->
<div th:replace="partials :: scripts"></div>
<!---->
</body>
</html>