<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
    <div th:replace="partials :: links"></div>
    <link rel="stylesheet" th:href="@{/ticketsTemplate.css}">
</head>
<body>

<h1>Tickets</h1>
<div th:each="ticket : ${tickets}">
    <p>ID = <span th:text="${ticket.id}"></span></p>
    <p>Date = <span th:text="${ticket.date}"></span></p>
    <p>Ordered Date = <span th:text="${ticket.dateOrdered}"></span></p>
    <p>Scheduled Date = <span th:text="${ticket.dateScheduled}"></span></p>
    <p>Phone = <span th:text="${ticket.phoneNum}"></span></p>
    <p>Ticket Num = <span th:text="${ticket.ticketNum}"></span></p>
    <p>Ticket Type = <span th:text="${ticket.type}"></span></p>
    <p>Business Name = <span th:text="${ticket.business}"></span></p>
    <p>Ticket Location Name = <span th:text="${ticket.location}"></span></p>
    <p>User = <span th:text="${ticket.user}"></span></p>
    <br>
</div>
<hr>

<div th:each="ticket : ${tickets}" class="container">
    <div id="topLeft">
        <div>
            <p>Pike's Peak Performance</p>
            <p>922 Gardner Drive</p>
            <p>Perry, GA 31069</p>
            <p>(478)987-5547</p>
        </div>
    </div>
    <div id="topRight">
        <div id="rightTop">
            <p>INVOICE</p>
        </div>
        <div id="rightBottom">
            <table>
                <tr>
                    <th>Service Date &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                    <th>Number &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                    <th>Due</th>
                </tr>
                <tr>
                    <td th:text="${ticket.date}"></td>
                    <td th:if="${ticket.ticketNum != null}" th:text="${ticket.ticketNum}"></td>
                    <td th:if="${ticket.ticketNum == null}" th:text="${NotAvail}"></td>
                    <td>??</td>
                </tr>
            </table>
        </div>
    </div>
</div>


<!--SCRIPTS PARTIAL-->
<div th:replace="partials :: scripts"></div>
<!---->
</body>
</html>