<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Sheet</title>
    <div th:replace="partials :: links"></div>
</head>
<body>
<!--NAV PARTIAL-->
<div th:replace="partials :: loggedNav"></div>
<!---->
<h1>Time Sheet Page?</h1>

<!--SCRIPTS PARTIAL-->
<div th:replace="partials :: scripts"></div>
<!---->
</body>
</html>