<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket 6</title>
    <div th:replace="partials :: links"></div>
</head>
<body>
<!---->
<div th:replace="partials :: loggedNav"></div>
<!---->
<h2>Section 6</h2>
<!---->
<form id="backToTicket5" th:action="@{/backToTicket5}" method="post">
    <input hidden name="ticketId" th:value="${ticketObj.id}">
    <button id="backPageBtn" class="btn btn-primary" type="submit">Previous Page</button>
</form>
<!---->
<form id="ticket6" th:action="@{/ticket6End}" method="post">
    <input hidden name="ticketId" th:value="${ticketObj.id}">

    <button id="submitTicketBtn" class="btn btn-success" type="submit">Next Page
    </button>
</form>
<!---->
<form th:action="@{/cancelTicket}" method="post">
    <input hidden th:value="${ticketObj.id}">
    <button class="btn btn-danger" type="submit">Cancel Ticket</button>
</form>
<!---->
<div th:replace="partials :: scripts"></div>
<!---->
</body>
</html>