<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket 1</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>

<form id="ticketStart" th:action="@{/ticketStart}" method="post" th:object="${ticketObj}">
    <input hidden name="user" th:text="${user.username}" th:value="${user.username}">
    <p>Select Locaiton:</p>
    <div th:each="location : ${locations}">
        <input type="checkbox" name="loc" th:text="${location.name}" th:value="${location.name}">
    </div>
    <br>
    <p>Select ticket type:</p>
    <div th:each="type : ${types}">
        <input name="type" type="checkbox" th:text="${type.name}" th:value="${type.name}">
    </div>
    <br>
    <p>Enter Phone Num:<input name="phoneNum" th:value="${phoneNum}"></p>
    <p>Enter Today's Date:<input type="date" name="date" th:value="${date}"></p>
    <p>Enter Ordered Date:<input type="date" name="dateOrdered" th:value="${dateOrdered}"></p>
    <p>Enter Scheduked Date:<input type="date" name="dateScheduled" th:value="${dateScheduled}"></p>

    <button id="submitTicketBtn" class="btn btn-green" type="submit" value="Submit Ticket">Submit
    </button>
</form>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</body>
</html>