<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket 1</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>

<form id="ticketStart" th:action="@{/ticketStart}" method="post" th:object="${ticketObj}">
    <p>Select Business:</p>
    <div th:each="business : ${businesses}">
        <input type="checkbox" name="biz" th:text="${business.name}" th:value="${business.name}">
    </div>
    <p>Enter Phone Num:<input name="phoneNum" th:value="${phoneNum}"></p>
    <p>Enter Date:<input name="date" th:value="${date}"></p>

    <button id="submitTicketBtn" class="btn btn-green" type="submit" value="Submit Ticket">Submit
    </button>
</form>

</body>
</html>