<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket 2</title>
    <div th:replace="partials :: links"></div>
</head>
<body>
<!---->
<div th:replace="partials :: loggedNav"></div>
<!---->
<h2>Section 2</h2>
<!---->
<form id="ticket2" th:action="@{/ticket2End}" method="post">
    <input hidden name="ticketId" th:value="${ticketObj.id}">

    <button id="submitTicketBtn" class="btn btn-success" type="submit" value="Submit Ticket">Next Page
    </button>
</form>
<!---->
<form th:action="@{/cancelTicket}" method="post">
    <input name="cancelId" hidden th:value="${ticketObj.id}">
    <button class="btn btn-danger" type="submit">Cancel Ticket</button>
</form>
<!---->
<div th:replace="partials :: scripts"></div>
<!---->
</body>
</html>