<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket 9</title>
    <div th:replace="partials :: links"></div>
</head>
<body>
<!--NAV PARTIAL-->
<div th:replace="partials :: loggedNav"></div>
<!---->
<h2>Section 9</h2>
<!--PAGE 9 FORM-->
<form id="ticket9" th:action="@{/ticket9End}" method="post">
    <input hidden name="ticketId" th:value="${ticketObj.id}">

    <button id="submitTicketBtn" class="btn btn-success" type="submit">Finalize Ticket
    </button>
</form>
<!--PREVIOUS PAGE FORM-->
<form id="backToTicket8" th:action="@{/backToTicket8}" method="post">
    <input hidden name="ticketId" th:value="${ticketObj.id}">
    <button id="backPageBtn" class="btn btn-primary" type="submit">Previous Page</button>
</form>
<!--CANCEL TICKET FORM-->
<form th:action="@{/cancelTicket}" method="post">
    <input hidden th:value="${ticketObj.id}">
    <button class="btn btn-danger" type="submit">Cancel Ticket</button>
</form>
<!--SCRIPTS PARTIAL-->
<div th:replace="partials :: scripts"></div>
<!---->
</body>
</html>